
body{
	margin: 0;
    font-family:  Arial,Helvetica,sans-serif;
    color: #000;
    background: #eee;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: #9fa8b2;
}
